* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #faf8ef;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #776e65;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.score-container {
  background-color: #bbada0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.score-label {
  margin-right: 10px;
}

#new-game {
  padding: 10px 20px;
  background-color: #8f7a66;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#new-game:hover {
  background-color: #9c8873;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: #cdc1b4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #776e65;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
